* {font-family:'Montserrat';}
a, a:visited, a:focus, a:active {text-decoration:none !important;}
p{font-weight: 300;}
h1, h2, h3, h4, h5{font-weight: 400;}

$p-1 : #2ecc71;
$p-2 : #2980b9;
$p-3 : #95a5a6;
$p-4 : #f1c40f;
$p-5 : #e74c3c;
$p-6 : #34495e;

#landing-page {
	#hero {height:100vh;background:url(../img/hero-sample.jpg);text-align:center;display:flex;align-items: center;position: relative;
		&:before {background:rgba(0, 0, 0, 0.5);position: absolute;height:100%;width:100%;right:0;top:0;z-index:0;content:'';}
		h1 {font-size:45px;font-weight:bold;margin-bottom:20px;color:white;}
		p {font-size:16px;color:#fff;margin-bottom:30px;}
		.biline{font-size:13px;color:#fff;width: 500px;margin: 0 auto;padding-bottom: 10px;}
		.col-sm-8 {float:none;margin:0 auto;}
		a {border:1px #fff solid;color:white;padding:8px 14px;}
		.logo{width: 250px;}
		
	}
	
	#success{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.7);padding:30px;text-align:center;display:none;z-index:5;color:#FFF;
		 a{display:block;background:#BD2429;padding:20px;font-weight:700;font-size:24px;margin:20px 0; &:hover,&:active,&:focus{color:#fff}
		 h2{color:#fff;text-align:center;font-size:28px;}
	     p{color:#fff;}
    	.share-cta{font-weight:800;font-size:14px;margin-bottom:10px;color:white}
		}
	}
   
	.section {padding:70px 0;}
	#features {text-align:center;
		.bar{border-top: 3px solid #009dff;width: 60px;margin: 10px auto 15px;}
		.icon{height: 300px;
		img{max-width:125px;padding: 10px;}	
		}
		.col-sm-6{background:url(../img/petexpomockup.png) center no-repeat;background-size: cover;height: 60vh;}	
	}
	#aboutus{background:#f5f5f5;
		.bar{border-top: 3px solid #009dff;width: 60px;margin: 10px 0px 15px;}
	}
	#formstyles{max-width: 700px;padding:00px 50px;margin: 0 auto;
		input{width: 100%;margin:5px 0;border: 1px solid #f5f5f5;padding:.7em .7em;}
		.col-md-5{padding: 2px;}
		.col-md-2{padding: 2px;}
		.btn-primary {background-color:#009dff;border: 1px solid #009dff;transition: 3s;border-radius:0px; }
		.btn-primary:hover {background-color:#005E99;}
	}
	#vendor{text-align: center;
		h3{margin-bottom: 20px;}
		ul{list-style: none;
			li{display: inline-block;width:225px;}
		}
		img{width: 100%;}
	}
	#footer{padding:30px 0px;font-size:15px;background-color:#f5f5f5; 
		i{padding:5px;font-size: 20px;color:#0071BC;}
		img{max-width:200px;margin: 10px 0px;}
		.right{text-align:none;
			@include bp-s{text-align:right;}
		}
		.center{text-align:center;}
		
	}
}
