///* -------------------------------------------------------------
//  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
//  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
//
//  List of CSS3 Sass Mixins File to be @imported and @included as you need
//
//  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
//  ENDING css files
//
//  note: All CSS3 Properties are being supported by Safari 5
//  more info: http://www.findmebyip.com/litmus/#css3-properties
//
//  Mixins available:
//   -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
//    -   background-size         - arguments: Width: 100%, Height: 100%
//    -   border-radius           - arguments: Radius: 5px
//    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
//    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
//    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
//    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
//    -   box-sizing              - arguments: Type: border-box
//    -   columns                 - arguments: Count: 3, Gap: 10
//    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
//    -   flex                    - arguments: Value: 1
//    -   flip                    - arguments: ScaleX: -1
//    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
//    -   opacity                 - arguments: Opacity: 0.5
//    -   outline radius          - arguments: Radius: 5px
//    -   resize                  - arguments: Direction: both
//    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
//    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
//    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
//    -   transform               - arguments: Parameters: null
//    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
//    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
//
//------------------------------------------------------------- */

///* BACKGROUND GRADIENT */
@mixin background-gradient($startColor: #3C3C3C, $endColor: #999999) {
    background-color: $startColor;
    background-image: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(top, $startColor, $endColor);
    background-image:    -moz-linear-gradient(top, $startColor, $endColor);
    background-image:     -ms-linear-gradient(top, $startColor, $endColor);
    background-image:      -o-linear-gradient(top, $startColor, $endColor);
    background-image:         linear-gradient(top, $startColor, $endColor);
    filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}');
}


///* BACKGROUND SIZE */
@mixin background-size($width: 100%, $height: 100%) {
     -moz-background-size: $width $height;
  -webkit-background-size: $width $height;
          background-size: $width $height;
}


///* BORDER RADIUS */
@mixin border-radius($radius: 5px) {
    -moz-border-radius:    $radius;
    -webkit-border-radius: $radius;
    border-radius:         $radius;
}

@mixin border-radius-separate($topLeftRadius: 5px, $topRightRadius: 5px, $bottomLeftRadius: 5px, $bottomRightRadius: 5px) {
    -webkit-border-top-left-radius:     $topLeftRadius;
    -webkit-border-top-right-radius:    $topRightRadius;
    -webkit-border-bottom-right-radius: $bottomRightRadius;
    -webkit-border-bottom-left-radius:  $bottomLeftRadius;

    -moz-border-radius-topleft:     $topLeftRadius;
    -moz-border-radius-topright:    $topRightRadius;
    -moz-border-radius-bottomright: $bottomRightRadius;
    -moz-border-radius-bottomleft:  $bottomLeftRadius;

    border-top-left-radius:     $topLeftRadius;
    border-top-right-radius:    $topRightRadius;
    border-bottom-right-radius: $bottomRightRadius;
    border-bottom-left-radius:  $bottomLeftRadius;
}

///* BOX */
@mixin box($orient: horizontal, $pack: center, $align: center) {
    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: $orient;
    -moz-box-orient:    $orient;
    box-orient:         $orient;

    -webkit-box-pack: $pack;
    -moz-box-pack:    $pack;
    box-pack:         $pack;

    -webkit-box-align: $align;
    -moz-box-align:    $align;
    box-align:         $align;
}

///* BOX RGBA */
@mixin box-rgba($r: 60, $g: 3, $b: 12, $opacity: 0.23, $color: #3C3C3C) {
  background-color: transparent;
  background-color: rgba($r, $g, $b, $opacity);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$color}',endColorstr='#{$color}');
            zoom:   1;
}


///* BOX SHADOW */
@mixin box-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4), $inset: "") {
  @if ($inset != "") {
    -webkit-box-shadow: $inset $x $y $blur $color;
    -moz-box-shadow:    $inset $x $y $blur $color;
    box-shadow:         $inset $x $y $blur $color;
  } @else {
    -webkit-box-shadow: $x $y $blur $color;
    -moz-box-shadow:    $x $y $blur $color;
    box-shadow:         $x $y $blur $color;
  }
}

///* BOX SIZING */
@mixin box-sizing($type: border-box) {
    -webkit-box-sizing:   $type;
    -moz-box-sizing:      $type;
    box-sizing:           $type;
}

///* COLUMNS */
@mixin columns($count: 3, $gap: 10) {
    -webkit-column-count: $count;
    -moz-column-count:    $count;
    column-count:         $count;

    -webkit-column-gap:   $gap;
    -moz-column-gap:      $gap;
    column-gap:           $gap;
}

///* DOUBLE BORDERS */
@mixin double-borders($colorOne: #3C3C3C, $colorTwo: #999999, $radius: 0) {
    border: 1px solid $colorOne;

    -webkit-box-shadow: 0 0 0 1px $colorTwo;
    -moz-box-shadow:    0 0 0 1px $colorTwo;
    box-shadow:         0 0 0 1px $colorTwo;

    @include border-radius( $radius );
}

///* FLEX */
@mixin flex($value: 1) {
    -webkit-box-flex: $value;
    -moz-box-flex:    $value;
    box-flex:         $value;
}

///* FLIP */
@mixin flip($scaleX: -1) {
	-moz-transform:    scaleX($scaleX);
	-o-transform:      scaleX($scaleX);
	-webkit-transform: scaleX($scaleX);
	transform:         scaleX($scaleX);
	filter:            FlipH;
	-ms-filter:        "FlipH";
}

///* FONT FACE */
@mixin font-face($fontFamily: myFont, $eotFileSrc: 'myFont.eot', $woffFileSrc: 'myFont.woff', $ttfFileSrc: 'myFont.ttf') {
  font-family: $fontFamily;
  src: url($eotFileSrc)  format('eot'),
       url($woffFileSrc) format('woff'),
       url($ttfFileSrc)  format('truetype');
}

///* OPACITY */
@mixin opacity($opacity: 0.5) {
    filter:         alpha(opacity=($opacity * 100));
    -ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($opacity * 100) + ")";
    -moz-opacity:   $opacity;
    -khtml-opacity: $opacity;
    opacity:        $opacity;
}


///* OUTLINE RADIUS */
@mixin outline-radius($radius: 5px) {
    -webkit-outline-radius: $radius;
    -moz-outline-radius:    $radius;
    outline-radius:         $radius;
}

///* RESIZE */
@mixin resize($direction: both) {
    -webkit-resize: $direction;
    -moz-resize:    $direction;
    resize:         $direction;
}

///* ROTATE*/
@mixin rotate($deg: 0, $m11: 0, $m12: 0, $m21: 0, $m22: 0) {
     -moz-transform: rotate($deg + deg);
       -o-transform: rotate($deg + deg);
  -webkit-transform: rotate($deg + deg);
      -ms-transform: rotate($deg + deg);
          transform: rotate($deg + deg);
             filter: progid:DXImageTransform.Microsoft.Matrix(
                     M11=#{$m11}, M12=#{$m12}, M21=#{$m21}, M22=#{$m22}, sizingMethod='auto expand');
               zoom: 1;
}

///* TEXT SHADOW */
@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
    text-shadow: $x $y $blur $color;
}

///* TRANSFORM  */
@mixin transform($params) {
    -webkit-transform: $params;
    -moz-transform:    $params;
    transform:         $params;
}

///* TRANSITION */
@mixin transition($what: all, $length: 1s, $easing: ease-in-out) {
    -moz-transition:    $what $length $easing;
    -o-transition:      $what $length $easing;
    -webkit-transition: $what $length $easing;
    -ms-transition:     $what $length $easing;
    transition:         $what $length $easing;

}

///* TRIPLE BORDERS */
@mixin triple-borders($colorOne: #3C3C3C, $colorTwo: #999999, $colorThree: #000000, $radius: 0) {
    border: 1px solid $colorOne;

    @include border-radius($radius);

    -webkit-box-shadow: 0 0 0 1px $colorTwo, 0 0 0 2px $colorThree;
    -moz-box-shadow:    0 0 0 1px $colorTwo, 0 0 0 2px $colorThree;
    box-shadow:         0 0 0 1px $colorTwo, 0 0 0 2px $colorThree;
}

///* CLEARFIX */
@mixin clearfix {
    &:before, &:after {content: "";display: table;} 
    &:after {clear: both;}
}

@mixin bp-xl {
  @media only screen and (min-width: 1750px) {
    @content;
  }
}


@mixin bp-l {
  @media only screen and (min-width: 1300px) {
    @content;
  }
}

@mixin bp-m {
  @media only screen and (min-width: 992px) { 
    @content;
  }
} 

@mixin bp-s {
  @media only screen and (min-width: 768px) {
    @content;
  }
}   
@mixin bp-xs {
  @media only screen and (min-width: 450px) {
    @content;
  }
}   
       

@mixin bp-device {
  @media only screen and (max-device-width: 1250px) {
    @content;
  }
}

@mixin bp-retina {
    @media (-webkit-min-device-pixel-ratio: 2) { 
        @content;
    }
}

// Transparent BGs
// ******************************************************************************************************** //
                    
$transparent: url(../img/trans/0.png);
$white-10: url(../img/trans/white-10.png);
$white-20: url(../img/trans/white-20.png);
$white-30: url(../img/trans/white-30.png);
$white-40: url(../img/trans/white-40.png);
$white-50: url(../img/trans/white-50.png);
$white-60: url(../img/trans/white-60.png);
$white-70: url(../img/trans/white-70.png);
$white-80: url(../img/trans/white-80.png);
$white-90: url(../img/trans/white-90.png);
$black-10: url(../img/trans/black-10.png);
$black-20: url(../img/trans/black-20.png);
$black-30: url(../img/trans/black-30.png);
$black-40: url(../img/trans/black-40.png);
$black-50: url(../img/trans/black-50.png);
$black-60: url(../img/trans/black-60.png);
$black-70: url(../img/trans/black-70.png);
$black-80: url(../img/trans/black-80.png);
$black-90: url(../img/trans/black-90.png);        

@mixin clearfix {
    &:before, &:after {content: "";display: table;} 
    &:after {clear: both;}

}

// Fixed Footer
// ******************************************************************************************************** //

@mixin top($size:75px) {min-height:100%;margin-bottom:-($size);
    &:after {  content: "";display: block;height:$size;}
}

// Absolute Child BG 
// ******************************************************************************************************** //

@mixin absolute-bg($zindex:0, $position:relative) {position:$position;
    div[class^="bg"]{position:absolute;width:100%;height:100%;top:0;left:0;z-index:$zindex;}
}

// Scroll Site Nav
// ******************************************************************************************************** //

@mixin scrollButton($backgound) {position:fixed;height:42px;width:42px;left:50%;text-align:center;bottom:10%;background:$backgound;z-index:11;margin-left:-20px;text-transform:uppercase;font-size:12px;@include transition(all, .25s);cursor:pointer;border-radius: 50px;
img {width:100%;}}

@mixin pagescroller { display:none;position:fixed;right:0;top:100px;z-index:100;background:$black-80;color:white;list-style:none;padding:15px 0px;
    li {padding:0px 10px;text-align:left;border-left:1px #555 solid;margin-left:20px;position:relative;padding-left:15px;
        a {font-size:12px !important;}
        &.last {padding-bottom:0;height:15px;}
            span {border-radius:10px;width:15px;height:15px;border:1px #555 solid;display:inline-block;position:absolute;left:-8px;padding-right:10px;background-color:#222;}

        &.active {color:#40c0cb;
            span {background:orange;border:1px orange solid;}
        }
    }
    @include bp-s {width:100%;top:auto;bottom:0;background:#333;padding:10px 0;;text-align:center;z-index:1000;
        li {display:inline-block;margin:0;padding:5px;margin-bottom:5px;
            &:first-of-type {border:0;padding-top:0;}
        }
        span {display:none !important;margin-top:10px;}
    }
}


// Video Background
// ******************************************************************************************************** //

@mixin videobg {position: fixed; right: 0; bottom: 0;min-width: 100%; min-height: 100%;width: auto; height: auto; z-index: 0;background-size: cover;}


// Div Carrots
// ******************************************************************************************************** //


@mixin carrot-bottom($color) {position:relative;
    &:after, &:before {top: 34px;left: 0;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;}
    &::after {border-color: rgba(3, 4, 5, 0);border-top-color: $color;border-width: 5px;margin-left: 0px;}
    &::before {border-color: rgba(0, 0, 0, 0);border-top-color: $color;border-width: 15px;margin-left: 0px;}                      
}

@mixin carrot-top($color) {
    &:after, &:before {bottom: 100%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;}
    &:after {border-color: rgba(85, 85, 85, 0);border-bottom-color: $color;border-width: 15px;margin-left: -15px;}
    &:before {border-color: rgba(85, 85, 85, 0);border-bottom-color: $color;border-width: 15px;margin-left: -15px;}
}


// Buttons
// ******************************************************************************************************** //

@mixin btn($startColor:#5d5d5d, $endColor:#3e3e3e, $border:#4e4e4e, $color:#fff) {
    display:inline-block;
    border-radius:3px;
    box-shadow:0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 2px rgba(255,255,255,0.7);
    -moz-box-shadow:0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 2px rgba(255,255,255,0.7);
    -webkit-box-shadow:0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 2px rgba(255,255,255,0.7);
    text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 1px 0px rgba(255,255,255,0.3);
    border: 1px solid $border;
    color:$color;    
    background: -moz-linear-gradient(top,  $startColor 0%, $endColor 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$startColor), color-stop(100%,$endColor)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $startColor 0%,$endColor 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $startColor 0%,$endColor 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $startColor 0%,$endColor 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $startColor 0%,$endColor 100%); /* W3C */
}


// Social Nav
// ******************************************************************************************************** //

@mixin socialNav {float:right;
    a {padding:5px;background-color:#222;text-align:center;position:relative;display:inline-block;border-radius:30px;@include transition(all, .25s);
        &[href*="facebook"]:hover {background-color:#3b5998 !important;}
        &[href*="twitter"]:hover {background-color:#00aced !important;}
        &[href*="linkedin"]:hover {background-color:#007bb6 !important;}
        &[href*="instagram"]:hover {background-color:#517fa4 !important;}
        &[href*="pinterest"]:hover {background-color:#cb2027 !important;}
        &[href*="youtube"]:hover {background-color:#bb0000 !important;}
        &[href*="google"]:hover {background-color:#dd4b39 !important;}
    }
}
  
