/* Prevents the slideshow from flashing on load */
#slides {padding-left:0;
  display:none;
	margin:0;
	width:100%;
}

#slides .slidesjs-container {
	  position:relative;}

#slides .slidesjs-previous {
  margin-right: 5px;position:absolute;left:10px;top:200px;color:white !important;font-size:24px;
}
#slides .slidesjs-next {
  margin-right: 5px;position:absolute;right:10px;top:200px; color:white !important;font-size:24px;
}

.slidesjs-pagination {
    margin:6px 0 0;
    float: right;
    list-style: none;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

.slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 13px;
    padding-top: 13px;
	border-radius:100%;
	background:white;
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.slidesjs-pagination li a.active, .slidesjs-pagination li a:hover.active { 	background:black; }

.slidesjs-pagination li a:hover { background:black;  }

#slides a:link, #slides a:visited { color: #333 }

#slides a:hover, #slides a:active { color: #9e2020 }